<h1>Mobile Podcast How-to</h1>
<p>
Teachers, you have made audio available on the Internet, or you intranet. You have made feed for a podcast. Now you need students to access it. Unless you are listed in the iStore, it will be hard for students to find your content. Use this website to make a quick tutorial for students on how to access a podcast by its URL through their iPhone or Android devise.
</p>
<div> <a href="/podcasts"> get started </a> </div>
